absl_py==2.1.0+computecanada
chex==0.1.81
cloudpickle==3.0.0+computecanada
contourpy==1.2.0+computecanada
cycler==0.12.1+computecanada
decorator==5.1.1+computecanada
distrax==0.1.5
dm_tree==0.1.8+computecanada
etils==1.5.2+computecanada
flax==0.6.10+computecanada
fonttools==4.47.2+computecanada
fsspec==2023.12.2+computecanada
gast==0.5.4+computecanada
h5py==3.8.0+computecanada
importlib-resources==6.1.1
importlib_metadata==7.0.1+computecanada
jax==0.4.13+computecanada
jaxlib==0.4.13+cuda11.cudnn86.computecanada
jaxtyping==0.2.28
kiwisolver==1.4.5+computecanada
markdown_it_py==3.0.0+computecanada
matplotlib==3.7.2+computecanada
mdurl==0.1.2+computecanada
ml-dtypes==0.3.2
msgpack==1.0.4+computecanada
nest_asyncio==1.6.0+computecanada
numpy==1.25.2+computecanada
opt_einsum==3.3.0+computecanada
optax==0.1.8+computecanada
orbax-checkpoint==0.5.1
packaging==23.2+computecanada
pandas==2.1.0+computecanada
Pillow==10.1.0+computecanada
protobuf==4.25.2
pygments==2.17.2+computecanada
pyparsing==3.0.9+computecanada
pyscf==2.3.0
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
PyYAML==6.0.1+computecanada
rich==13.7.0+computecanada
scipy==1.11.2+computecanada
six==1.16.0+computecanada
tensorflow-probability==0.23.0
tensorstore==0.1.51+computecanada
toolz==0.12.1+computecanada
typeguard==2.13.3+computecanada
typing_extensions==4.9.0+computecanada
tzdata==2024.1+computecanada
zipp==3.17.0+computecanada
